<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/index.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MeezanShip Dashboard</title>
    </head>
    <body>
        <div class="dashboard">

            <h1>Supervisor Dashboard</h1>

            <nav>
                <ul>
                    <li>
                        <a href="/supervisor-dashboard">Manage Agents</a>
                    </li>
                </ul>
            </nav>

            <h1>Customer Dashboard</h1>

            <nav>
                <ul>
                    <li>
                        <a href="/customer-dashboard">Send Queries</a>
                    </li>
                </ul>
            </nav>

            <h1>Agent Dashboard</h1>

            <nav>
                <ul>
                    <li>
                        <a href="/agent-login">Login</a>
                    </li>
                </ul>
            </nav>

        </div>
    </body>
</html>